html {
    font-family:'Open Sans', Arial, sans-serif;
}


.default-html-page {
    background-color: #ddd;
    max-width: 500px;
    border-radius: 3%;
    margin: 0;
    white-space: pre-wrap;
    outline-style: solid;
    outline-width: 1px;
}

.section-header {
    font-weight: bold;
    font-size: 1.2rem;
}

header {
    display: block;
}

h3 {
    font-size: 12px;
}

.default-css-page {
    background-color: #ddd;
    max-width: 500px;
    border-radius: 3%;
    margin: 0;
    white-space: pre-wrap;
    outline-style: solid;
    outline-width: 1px;
}